<!DOCTYPE html>
<html lang="en">

<head>
</head>
  <style>
  
  body{
    background-color: #D3D3D3;
    
  }
    h1{
      display: center;
      text-align: center;
      margin: 20px;
    }
    
    .twitter{
      display: inline;
      margin-top: 10%;
    margin-left: -5%;
      
    }
    
    .google{
      display: inline;
      margin-top: 10%;
    margin-left: 10%;
      
    }
  
    .sidemenu{
    float: left;
    width: 10%;
    height: 200%;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size:40px;
    overflow: visible;
    margin: 5% 15% 5% 5%;
    color: black;
    border-radius: 20%;
    }
    
    ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    width: 200px;
    background-color: #bdbdbd;
    color: black;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size:20px;
    text-transform: uppercase;
    border-radius: 5%;
    }

    li  a {
    display: block;
    color: #151515;
    padding: 8px 0 8px 0px;
    text-decoration: none;
    text-align: center;
    color: black;
 
    }

  /* Change the link color on hover */
    li a:hover {
    background-color: #055890;
    color: white;
    }

    
    .table{
      margin-left: 35%;
      background-color: 123456;
      font-family: sans-serif;
      font-size: 25px;
      font-style: bold;
    }
    
    .buttons{
     display: inline block;
     margin-bottom: 3em;
      
    }
    
    .addWord{
      background-color: blue;
      
    }
    
    #keyword_table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 80%;
    }
    
    #keyword_table td, #keyword_table th {
        border: 1px solid #000000;
        text-align: center;
        
    }
    
    #keyword_table tr:nth-child(odd){background-color: #dfa329; }
    #keyword_table tr:nth-child(even){background-color: #f1f1f1}
    
    #keyword_table th {
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #055890;
        color: white;
    }
</style>


<body>
  
  <p id="notice"><%= notice %></p>
  <header>
  <%= image_tag("gmo_logo.png", :width =>"600px", :height =>"100px") %>

  </header>


  <h1>
    <div class="twitter">
     <%= link_to "#{image_tag("twitter-logo.png", :width =>"250px", :height =>"150px")}".html_safe, "/arabic" %>
    </div>
     
     <div class="google">
     <%= link_to "#{image_tag("googlelogo.png", :width =>"250px", :height =>"150px")}".html_safe, "/arabicgoogle" %>
     </div>
       
    <div class="sidemenu">
    <ul>
      <li><a href="/arabicgoogle" target="_self" >Arabic</a>&nbsp;</li>
      <li><a href="/chinesegoogle" target="_self" >Chinese</a>&nbsp;</li>
      <li><a href="/englishgoogle" target="_self" >English</a>&nbsp;</li>
      <li><a href="/frenchgoogle" target="_self" >French</a>&nbsp;</li>
      <li><a href="/hindigoogle" target="_self" >Hindi</a>&nbsp;</li>
      <li><a href="/indonesiangoogle" target="_self" >Indonesian</a>&nbsp;</li>
      <li><a href="/portuguesegoogle" target="_self" >Portuguese</a>&nbsp;</li>
      <li><a href="/russiangoogle" target="_self" >Russian</a>&nbsp;</li>
      <li><a href="/spanishgoogle" target="_self" >Spanish</a>&nbsp;</li>
    </ul>
    </div>
  </h1>
  
<main>
  
    <div class="buttons">
      <span style="margin-right: 10em; margin-left: 20em;"><INPUT TYPE="button" VALUE="Reload" onClick="history.go(0)"></span>
      <span style="font-size:20px;width:100px;display:inline-block"><%= link_to '<button type="button">Add Word</button>'.html_safe, new_keyword_path %></span>
    </div>

 
  <div class="table">
  
    <table id = "keyword_table">
      <thead>
        <tr>
          <th><%= sortable "word"%></th>
          <th><%= rev_sortable "rank"%></th>
          <th><font color="black">Delete</font></th>
        </tr>
      </thead>
    </div>


 
    <tbody>
      <% @keywords.all.each do |keyword| %>
        <% if keyword.language == "Arabic" %>
          <tr>
            <td><font color="black" size="4"><%= keyword.word.capitalize %></font></td>
            <td class="center"><font color="black" size="4"><%= keyword.gcount %></font></td>
            <td class="center"><%= link_to "#{image_tag("delete-button.png", :width =>"30px", :height =>"30px")}".html_safe, keyword, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  
</main>

</body>

</html>