<!DOCTYPE html>
<html lang="en">

<head>
</head>
  <style>
  
  body{
    background-color: #D3D3D3;
    
  }
    h1{
      display: center;
      text-align: center;
      margin: 20px;
    }
    
    .twitter{
      display: inline;
      margin-top: 10%;
    margin-left: -10%;
      
    }
  
    .sidemenu{
    float: left;
    width: 10%;
    height: 200%;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size:40px;
    overflow: visible;
    margin: 5% 15% 5% 5%;
    color: black;
    border-radius: 20%;
    }
    
    ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    width: 200px;
    background-color: #bdbdbd;
    color: black;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size:20px;
    text-transform: uppercase;
    border-radius: 5%;
    }

    li  a {
    display: block;
    color: #151515;
    padding: 8px 0 8px 0px;
    text-decoration: none;
    text-align: center;
    color: black;
 
    }

  /* Change the link color on hover */
    li a:hover {
    background-color: #055890;
    color: white;
    }

    
    .table{
      margin-left: 45%;
      background-color: 123456;
      font-family: sans-serif;
      font-size: 25px;
      font-style: bold;
    }
    
    .buttons{
     display: inline block;
     margin-bottom: 3em;
      
    }
    
    .addWord{
      background-color: blue;
      
    }
  
    
</style>


<body>
  
  <p id="notice"><%= notice %></p>
  <header>
  <%= image_tag("gmo_logo.png", :width =>"600px", :height =>"100px") %>

  </header>


  <h1>
    <div class="twitter">
     <%= image_tag("twitter-logo.png", :width =>"250px", :height =>"150px") %>
     </div>
     
       
    <div class="sidemenu">
    <ul>
      <li><a href="/arabic" target="_self" >Arabic</a>&nbsp;</li>
      <li><a href="/chinese" target="_self" >Chinese</a>&nbsp;</li>
      <li><a href="/english" target="_self" >English</a>&nbsp;</li>
      <li><a href="/french" target="_self" >French</a>&nbsp;</li>
      <li><a href="/hindi" target="_self" >Hindi</a>&nbsp;</li>
      <li><a href="/indonesian" target="_self" >Indonesian</a>&nbsp;</li>
      <li><a href="/portuguese" target="_self" >Portuguese</a>&nbsp;</li>
      <li><a href="/russian" target="_self" >Russian</a>&nbsp;</li>
      <li><a href="/spanish" target="_self" >Spanish</a>&nbsp;</li>
    </ul>
    <%= image_tag("twitter-logo.png", :width =>"200px", :height =>"100px") %>
    </div>
  </h1>
  
<main>
  
    <div class="buttons">
      <span style="margin-right: 10em; margin-left: 20em;"><INPUT TYPE="button" VALUE="Reload" onClick="history.go(0)"></span>
      <span style="font-size:20px;width:100px;display:inline-block"><%= link_to '<button type="button">Add Word</button>'.html_safe, new_keyword_path %></span>
    </div>

 
  <div class="table">
  
    <table>
      <thead>
        <tr>
          <th><%= sortable "word"%></th>
          <th><%= rev_sortable "count"%></th>
          <th><%= sortable "language"%></th>
          <th>Delete</th>
        </tr>
      </thead>
    </div>


 
    <tbody>
      <% @keywords.all.each do |keyword| %>
        <% if keyword.language == "Chinese" %>
          <tr>
            <td><%= keyword.word.capitalize %></td>
            <td class="center"><%= keyword.count %></td>
            <td class="center"><%= keyword.language %></td>
            <td class="center"><%= link_to '[X]', keyword, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  
</main>

</body>

</html>