<!DOCTYPE html>
<html lang="en">

<head>
</head>
  <style>
  
  body{
    background-color: #CDCDCD;
    
  }
    h1{

    margin: 15px;
    }
    
    h2{
      margin-left: 25%;
      margin-top: 5%;
      
    }
    
    .twitter{
    display: block;
    }
  
      .google{
    display: block;
    margin-left: .5%;
    }
    
    .sidemenu{
    float: left;
    width: 10%;
    height: 200%;
    display: block;
    text-align: center;
    font-size:40px;
    overflow: visible;
    margin: 5% 0% 10% 5%;
    color: black;
    border-radius: 20%;
    font-family: arial;
    }
    
    ul {
    list-style-type: none;
    margin: 0;
    width: 200px;
    background-color: #CDCDCD;
    color: black;
    display: block;
    text-align: center;
    font-size:20px;
    line-height: 15px;
    }

    li  a {
    display: block;
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    text-align: center;
    color: black;
    border-bottom: thin solid #000000;
    left:50%;top:50%;
    margin: 0;
        line-height: 15px;
    }

  /* Change the link color on hover */
    li a:hover {
    background-color: #055890;
    color: white;
    border-bottom: thin solid #000000;
    }

    
    .table{
      margin-left: 35%;
      background-color: 123456;
      font-family: arial;
      font-size: 25px;
      font-style: bold;
      border-radius: 10px;
    }
    
    h3{
      margin-top: -10%;
      margin-bottom: 50px;
      
    }
    
    .buttons{
     display: inline;
     margin-bottom: 3em;
     font-family: arial;
     margin-top: -150%;
    }
    
    button{
      font-family: arial;
     border-radius: 10px;
     width: 150px;
     height: 40px;
     font-size: 20px;
     margin-top: -500%;
    }
    
    button:hover{
      background-color:  #dfa329;
    }
    
    input{
     border-radius: 10px;
     width: 150px;
     height: 40px;
     font-size: 20px;
     margin-top: -500%;
    }
    
    input:hover{
      background-color:  #dfa329;

    }
    
    .addWord{
      background-color:  #dfa329;
      
    }
    
  
    
    #keyword_table {
        font-family: Arial;
        border-collapse: collapse;
        width: 80%;
        border-radius: 10px;
    }
    
    #keyword_table td, #keyword_table th {
        border: 1px solid #000000;
        text-align: center;
        font-weight: bold;
        font-family: arial;
    }
    
    #keyword_table tr:nth-child(odd){background-color: #CDCDCD; }
    #keyword_table tr:nth-child(even){background-color: #E8E8E8}
    
    #keyword_table th {
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #055890;
        color: white;
        font-weight: bold;
        font-family: arial;
    }
</style>


<body>

  <header>
  <%= image_tag("gmo_logo.png", :width =>"600px", :height =>"100px") %>
  </header>

  <h1>
     
    <div class="sidemenu">
    <ul>
      <li><a href="/arabic" target="_self" >Arabic</a>&nbsp;</li>
      <li><a href="/chinese" target="_self" >Chinese</a>&nbsp;</li>
      <li><a href="/keywords" target="_self" >English</a>&nbsp;</li>
      <li><a href="/french" target="_self" >French</a>&nbsp;</li>
      <li><a href="/hindi" target="_self" >Hindi</a>&nbsp;</li>
      <li><a href="/indonesian" target="_self" >Indonesian</a>&nbsp;</li>
      <li><a href="/portuguese" target="_self" >Portuguese</a>&nbsp;</li>
      <li><a href="/russian" target="_self" >Russian</a>&nbsp;</li>
      <li><a href="/spanish" target="_self" >Spanish</a>&nbsp;</li>
    </ul>
    </div>
  </h1>
  
  <h2>
      <div class="twitter">
       <%= link_to "#{image_tag("twitterlogo.png", :width =>"100px", :height =>"100px")}".html_safe, "/hindi" %>
     </div>
     
     <div class="google">
     <%= link_to "#{image_tag("googlelogo.png", :width =>"90px", :height =>"90px")}".html_safe, "/hindigoogle" %>
     </div>
  </h2>
  
  <h3>
    <div class="buttons">
      <span style="margin-right: 2em; margin-left: 24em;"><INPUT TYPE="button" VALUE="Refresh" onClick="history.go(0)"></span>
      <span style="margin-right: 2em;"><%= link_to '<button type="button">Clear</button>'.html_safe, "/clearcounts" %></span>
      <span><%= link_to '<button type="button">Add Word</button>'.html_safe, new_keyword_path %></span>
    </div>
  </h3>
  
  
<main>
  <div class="table">
  
    <table id = "keyword_table">
      <thead>
        <tr>
          <th><%= sortable "word"%></th>
          <th><%= rev_sortable "count"%></th>
          <th><font color="black">Delete</font></th>
        </tr>
      </thead>
    </div>
 
    <tbody>
      <% @keywords.all.each do |keyword| %>
        <% if keyword.language == "Hindi" %>
          <tr>
            <td><font color="black" size="4"><%= keyword.word.capitalize %></font></td>
            <td class="center"><font color="black" size="4"><%= keyword.count %></font></td>
            <td class="center"><%= link_to "#{image_tag("delete-button.png", :width =>"30px", :height =>"30px")}".html_safe, keyword, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  
</main>

</body>

</html>