<!DOCTYPE html>
<html lang="en">

<head>
</head>
  <style>
    h1{
      display: center;
      text-align: center;
      margin: 20px;
    }
    
    .google{
     padding-right: 30px;
      display: inline;
      margin-right: 30px;
    }
    
    .twitter{
      
      display: inline;
      margin-top: 10%;
      
    }
    
    h2{
      margin: 0px;
      text-align: center;
      padding: 0px;
      text-decoration: underline;
      margin-left: 12%;
      margin-top: 5%;
    }
  
    .sidemenu{
    float: right;
    width: 10%;
    height: 200%;
    display: flex block;
    text-align: center;
    font-weight: bold;
    font-size:28px;
    overflow: visible;
    margin: 0px 200px 50px 50px;
    }
    
    ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    width: 200px;
    background-color: #f1f1f1;
    }

    li  a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
    }

  /* Change the link color on hover */
    li a:hover {
    background-color: #555;
    color: white;
    }
    
    
    .table{
      display: block;
      margin-left: 35%;
      background-color: f1f1f1;
      font: arial;
      margin-top: 5%;
      
    }

    
</style>


<body>
  
  <p id="notice"><%= notice %></p>
  <header>
  <%= image_tag("gmo_logo.png", :width =>"600px", :height =>"100px") %>
  </header>


  <h1>
    <div class="google">
     <%= image_tag("googlelogo.png", :width =>"200px", :height =>"50px") %>
     </div>
    <div class="twitter">
    <%= image_tag("twitter-logo.png", :width =>"200px", :height =>"100px") %>
    </div>
  </h1>
  
   


    
<main>
  
  <div class="sidemenu">
    <ul>
      <li><a href="" target="_blank">Arabic</a>&nbsp;</li>
      <li><a href="" target="_blank">Chinese</a>&nbsp;</li>
      <li><a href="" target="_blank">English</a>&nbsp;</li>
      <li><a href="" target="_blank">French</a>&nbsp;</li>
      <li><a href="" target="_blank">Hindi</a>&nbsp;</li>
      <li><a href="" target="_blank">Indonesian</a>&nbsp;</li>
      <li><a href="" target="_blank">Portuguese</a>&nbsp;</li>
      <li><a href="" target="_blank">Russian</a>&nbsp;</li>
      <li><a href="" target="_blank">Spanish</a>&nbsp;</li>
    </ul>
  </div>
  
  
  <h2>Top Trending Words:</h2>

  <div class="table">
  <INPUT TYPE="button" VALUE="Reload" onClick="history.go(0)">


  
    <table>
      <thead>
        <tr>
          <th><%= sortable "word"%></th>
          <th><%= rev_sortable "count"%></th>
          <th><%= sortable "language"%></th>
          <th>Delete</th>
        </tr>
      </thead>
    </div>


    <tbody>
      <% @keywords.all.each do |keyword| %>
        <tr>
          <td><%= keyword.word.capitalize %></td>
          <td class="center"><%= keyword.count %></td>
          <td class="center"><%= keyword.language %></td>
          <td class="center"><%= link_to '[X]', keyword, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'New Keyword', new_keyword_path %>
  
  
</main>

</body>

</html>